help {
    z-index: 1000;
}

.closeHelp,
.helpBubble {
    position        : absolute;
    overflow        : hidden;
    top             : 0;
    right           : 0;
    width           : var(--tileSize);
    height          : var(--tileSize);
    border-radius   : 1in;
    align-self      : flex-end;
    justify-self    : flex-start;
    background-color: transparent;
    font-size       : 4vmin;
    text-align      : center;
    line-height     : var(--tileSize);
    color           : crimson;
    cursor          : help;
    text-shadow     : 0 1px 1px var(--hotpinkTint);
    transition      : all .2s ease-in-out;
    opacity         : 1;

    &.hide {
        opacity: 0;
    }

    &:hover {
        color: white;
    }

    &::before {
        content: '';
        .shiny;
    }
}

weak {
    font-weight: normal;
}

.helpContent {
    font-size       : ~'max(2em, 5vmin)';
    position        : absolute;
    overflow        : hidden auto;
    transition      : all 1s ease-in-out;
    width           : 100vw;
    height          : 100dvh;
    left            : 0;
    padding         : var(--tileSize) calc(~'2 * var(--tileSize)');
    color           : var(--primaryColor);
    background-color: rgba(0, 0, 0, 0.75);

    p,
    a {
        color: inherit;
    }

    &.down {
        top    : 100vh;
        opacity: 0;
    }

    &.up {
        opacity: 1;
        top    : 0;
    }
}
