tile {
    background-color: LemonChiffon;
    border          : 0 solid #666;
    border-radius   : @pieceCornerRadius;
    box-shadow      : 0 2px 2px #aaa;
    color           : #333;
    cursor          : grab;
    display         : block;
    font            : normal @pieceFontSize/@pieceSize "Trebuchet MS", Arial, Helvetica, sans-serif;
    height          : @pieceSize;
    left            : @pieceGutter;
    overflow        : hidden;
    position        : absolute;
    text-align      : center;
    text-decoration : none;
    text-shadow     : 0 1px 1px #ccc;
    top             : @pieceGutter;
    width           : @pieceSize;

    &.attracted {
        transition: transform .3s ease-out;
        z-index   : 100;
    }

    &.dragging {
        box-shadow: 0 3px 5px #aaa;
        cursor    : -webkit-grabbing;
        z-index   : 100;
    }

    &.retracted {
        transition: transform .3s ease-out;
        z-index   : 100;
    }
}
