tile {
    background-color: LemonChiffon;
    border          : 0 solid #666;
    border-radius   : @tileCornerRadius;
    box-shadow      : 0 2px 2px #aaa;
    color           : #333;
    cursor          : grab;
    display         : block;
    font            : normal @tileFontSize/@tileSize "Trebuchet MS", Arial, Helvetica, sans-serif;
    height          : @tileSize;
    left            : @tileGutterSize;
    overflow        : hidden;
    position        : absolute;
    text-align      : center;
    text-decoration : none;
    text-shadow     : 0 1px 1px #ccc;
    top             : @tileGutterSize;
    width           : @tileSize;

    &.attracted {
        transition: transform .3s ease-out;
        z-index   : 100;
    }

    &.correct {
        background-color: lightgreen;
    }

    &.dragging {
        box-shadow: 0 3px 5px #aaa;
        cursor    : -webkit-grabbing;
        z-index   : 100;
    }

    &.incorrect {
        background-color: lightcoral;
    }

    &.retracted {
        transition: transform .3s ease-out;
        z-index   : 100;
    }
}
