board {
    align-items     : center;
    background-color: white;
    border-radius   : @gameBorder;
    box-shadow      : inset 0 0 10px 0 rgba(0,0,0,0.5);
    display         : flex;
    height          : @boardSize;
    justify-content : center;
    justify-content : space-evenly;
    overflow        : hidden;
    position        : relative;
    user-select     : none;
    width           : @boardSize;

    &::before {
        border       : 4px solid #00ff0080;
        border-radius: calc(~'@{tileCornerRadius} + 2px');
        content      : '';
        display      : block;
        flex         : 0 0 calc(~ '@{tileSize} + @{tileGutterSize} / 2');
        height       : calc(~ '@{tileSize} + @{tileGutterSize} / 2');
        margin-top   : 2px;
    }
}

.row {
    display        : flex;
    justify-content: space-evenly;
}
