board {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  border-radius: 2.5vmin;
  -webkit-box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.7);
          box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50vmin;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  overflow: hidden;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 50vmin;
}
board::before {
  border: 4px solid #ffffffbb;
  border-radius: calc(1vmin + 2px);
  content: '';
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(8vmin + 2vmin / 2);
          flex: 0 0 calc(8vmin + 2vmin / 2);
  height: calc(8vmin + 2vmin / 2);
  margin-top: 2px;
}
game {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: calc(2 * 2.5vmin);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 2.5vmin;
  position: relative;
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  width: calc(50vmin + 2 * 2.5vmin);
}
game header {
  margin: calc(2.5vmin / 2) 0;
  width: 50vmin;
}
game header h1,
game header h2 {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 4vmin;
  line-height: 5vmin;
  text-shadow: 0 1px 1px #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
game header h2 {
  position: absolute;
  top: 2vmin;
  color: rgba(255, 255, 255, 0.25);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.25);
  font-size: 6vmin;
  z-index: -1;
  width: 50vmin;
}
game header .dummy {
  opacity: 0;
}
game header .dummy,
game header .score {
  font: inherit;
}
game header .title {
  cursor: pointer;
  font-size: 5vmin;
  line-height: 5vmin;
}
/* Metal ------------------------- */
.metal {
  color: #333333;
  text-shadow: rgba(102, 102, 102, 0.5) 0 -1px 0, rgba(255, 255, 255, 0.6) 0 2px 1px;
  background-color: #e6e6e6;
  -webkit-box-shadow: inset #bbbbbb 0 0 0 4px, inset #b1b1b1 0 -1px 5px 4px, inset rgba(0, 0, 0, 0.25) 0 -1px 0 7px, inset rgba(255, 255, 255, 0.7) 0 2px 1px 7px, rgba(0, 0, 0, 0.15) 0 -5px 6px 4px, rgba(255, 255, 255, 0.5) 0 5px 6px 4px;
          box-shadow: inset #bbbbbb 0 0 0 4px, inset #b1b1b1 0 -1px 5px 4px, inset rgba(0, 0, 0, 0.25) 0 -1px 0 7px, inset rgba(255, 255, 255, 0.7) 0 2px 1px 7px, rgba(0, 0, 0, 0.15) 0 -5px 6px 4px, rgba(255, 255, 255, 0.5) 0 5px 6px 4px;
  -webkit-transition: color .2s;
  transition: color .2s;
  /* Linear ------------------------- */
}
.metal.radial {
  background-image: -webkit-radial-gradient(50% 0%, 8% 50%, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%), -webkit-radial-gradient(50% 100%, 12% 50%, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 100%), -webkit-radial-gradient(0% 50%, 50% 7%, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%), -webkit-radial-gradient(100% 50%, 50% 5%, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%), -webkit-repeating-radial-gradient(50% 50%, 100% 100%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 3%, rgba(0, 0, 0, 0.1) 3.5%), -webkit-repeating-radial-gradient(50% 50%, 100% 100%, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 6%, rgba(255, 255, 255, 0.1) 7.5%), -webkit-repeating-radial-gradient(50% 50%, 100% 100%, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 1.2%, rgba(255, 255, 255, 0.2) 2.2%), -webkit-radial-gradient(50% 50%, 200% 50%, #e6e6e6 5%, #d9d9d9 30%, #999999 100%);
}
.metal.radial:after,
.metal.radial:before {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: inherit;
  height: inherit;
  /* fake conical gradients */
  background-size: cover;
  background-image: -webkit-radial-gradient(50% 0%, 10% 50%, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%), -webkit-radial-gradient(50% 100%, 10% 50%, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%), -webkit-radial-gradient(0% 50%, 50% 10%, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%), -webkit-radial-gradient(100% 50%, 50% 6%, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
}
.metal.radial:before {
  -webkit-transform: rotate(65deg);
          transform: rotate(65deg);
}
.metal.radial:after {
  -webkit-transform: rotate(-65deg);
          transform: rotate(-65deg);
}
t .metal.linear {
  background-size: 100px 100%;
  background-repeat: repeat;
  background-image: -webkit-repeating-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 6%, rgba(255, 255, 255, 0.1) 7.5%), -webkit-repeating-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 4%, rgba(0, 0, 0, 0.03) 4.5%), -webkit-repeating-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 1.2%, rgba(255, 255, 255, 0.15) 2.2%), -webkit-gradient(linear, left top, left bottom, from(#c7c7c7), color-stop(47%, #e6e6e6), color-stop(53%, #c7c7c7), to(#b3b3b3));
  background-image: -webkit-repeating-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 6%, rgba(255, 255, 255, 0.1) 7.5%), -webkit-repeating-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 4%, rgba(0, 0, 0, 0.03) 4.5%), -webkit-repeating-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 1.2%, rgba(255, 255, 255, 0.15) 2.2%), linear-gradient(180deg, #c7c7c7 0%, #e6e6e6 47%, #c7c7c7 53%, #b3b3b3 100%);
}
help {
  z-index: 1;
}
.closeHelp,
.helpBubble {
  position: absolute;
  overflow: hidden;
  top: 2vmin;
  right: 2vmin;
  width: 8vmin;
  height: 8vmin;
  border-radius: 4vmin;
  -ms-flex-item-align: end;
      align-self: flex-end;
  justify-self: flex-start;
  background-color: white;
  font-size: 4vmin;
  text-align: center;
  line-height: 8vmin;
  background-color: rgba(141, 228, 255, 0.4);
  -webkit-box-shadow: 0 2px 2px #aaa;
          box-shadow: 0 2px 2px #aaa;
  color: #333;
  cursor: help;
  text-shadow: 0 1px 1px #ccc;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}
.closeHelp.hide,
.helpBubble.hide {
  opacity: 0;
}
.closeHelp:hover,
.helpBubble:hover {
  color: white;
}
.closeHelp::before,
.helpBubble::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.6)), to(rgba(255, 255, 255, 0.1)));
  background: linear-gradient(top, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.1) 100%);
  -webkit-box-shadow: inset 0 2px 1px rgba(255, 255, 255, 0.7);
          box-shadow: inset 0 2px 1px rgba(255, 255, 255, 0.7);
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 100px 40px;
  border-bottom-left-radius: 100px 40px;
}
.closeHelp {
  background-color: rgba(141, 228, 255, 0.25);
}
.helpContent {
  font-size: 2em;
  position: absolute;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  width: calc(100% - 4 * 8vmin);
  height: calc(100% - 2 * 8vmin);
  left: 0;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 8vmin calc(2 * 8vmin);
}
.helpContent.down {
  top: 100vh;
  opacity: 0;
}
.helpContent.up {
  opacity: 1;
  top: 0;
}
.tile {
  background-color: rgba(141, 228, 255, 0.4);
  border: 0 solid #666;
  border-radius: 1vmin;
  -webkit-box-shadow: 0 2px 2px #aaa;
          box-shadow: 0 2px 2px #aaa;
  color: #333;
  cursor: -webkit-grab;
  cursor: grab;
  display: block;
  font: normal 3vmin/8vmin "Trebuchet MS", Arial, Helvetica, sans-serif;
  height: 8vmin;
  overflow: hidden;
  position: absolute;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 1px #ccc;
  -webkit-transition: background-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
  width: 8vmin;
}
.tile.animated {
  -webkit-transition: background-color 0.2s ease-in-out, opacity 0.2s ease-in-out, -webkit-transform 0.2s ease-out;
  transition: background-color 0.2s ease-in-out, opacity 0.2s ease-in-out, -webkit-transform 0.2s ease-out;
  transition: background-color 0.2s ease-in-out, opacity 0.2s ease-in-out, transform 0.2s ease-out;
  transition: background-color 0.2s ease-in-out, opacity 0.2s ease-in-out, transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
  z-index: 100;
}
.tile.burn {
  -webkit-transition: background-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
.tile.correct {
  background-color: lightgreen;
  -webkit-transform: scale(1.05, 1.05) !important;
          transform: scale(1.05, 1.05) !important;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
  z-index: 100;
}
.tile.dragged {
  background-color: palegoldenrod;
  -webkit-box-shadow: 0 3px 5px #aaa;
          box-shadow: 0 3px 5px #aaa;
  cursor: -webkit-grabbing;
  z-index: 100;
}
.tile.follow {
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
}
.tile.hide {
  opacity: 0;
}
.tile.incorrect {
  background-color: lightcoral;
  -webkit-transform: scale(0.95, 0.95) !important;
          transform: scale(0.95, 0.95) !important;
}
.tile.locked {
  pointer-events: none;
}
.tile.onfire {
  background-color: orangered;
  cursor: not-allowed;
}
.tile.retracted {
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
  z-index: 100;
}
.tile::before {
  display: block;
  position: absolute;
  width: 100%;
  height: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.6)), to(rgba(255, 255, 255, 0.1)));
  background: linear-gradient(top, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.1) 100%);
  -webkit-box-shadow: inset 0 2px 1px rgba(255, 255, 255, 0.7);
          box-shadow: inset 0 2px 1px rgba(255, 255, 255, 0.7);
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 100px 40px;
  border-bottom-left-radius: 100px 40px;
  content: '';
}
body,
html {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  width: 100vw;
}
body {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  background-color: #e6e6e6;
  background-image: linear-gradient(-45deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
  background-size: 5px;
}
.shiny {
  display: block;
  position: absolute;
  width: 100%;
  height: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.6)), to(rgba(255, 255, 255, 0.1)));
  background: linear-gradient(top, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.1) 100%);
  -webkit-box-shadow: inset 0 2px 1px rgba(255, 255, 255, 0.7);
          box-shadow: inset 0 2px 1px rgba(255, 255, 255, 0.7);
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 100px 40px;
  border-bottom-left-radius: 100px 40px;
}
.qrCode {
  position: absolute;
  left: 2vmin;
  bottom: 2vmin;
  width: 75px;
  height: 75px;
}
