@lightGrey: rgba(226, 226, 226, 0.9);
@darkGrey : rgba(137, 137, 137, 0.9);

game {
    align-items   : center;
    display       : flex;
    flex-direction: column;
    position      : relative;
    width         : var(--boardSize);

    header {
        position: relative;
        margin  : calc(~'var(--gameBorder) / 2') 0;
        width   : var(--boardSize);

        h1,
        h2,
        h3 {
            text-align : center;
            font-family: 'Courier New', Courier, monospace;
            font-size  : 4vmin;
            line-height: 5vmin;
            text-shadow: 0 1px 2px var(--hotpinkTint);
            user-select: none;
            color      : crimson;
            padding    : var(--gameBorder) 0;
        }

        h1 {
            cursor     : pointer;
            font-size  : 5vmin;
            line-height: 5vmin;

            @media screen and (orientation:landscape) {
                margin: 2vmin 0 1vmin;
            }
        }

        h2 {
            position : absolute;
            top      : 2vmin;
            font-size: 6vmin;
            z-index  : -1;
            width    : var(--boardSize);

            @media screen and (orientation:landscape) {
                margin: 4vmin 0 0;
            }
        }

        h3.moves {
            position   : absolute;
            top        : 1vmin;
            right      : 2vmin;
            font-size  : 2vmin;
            text-shadow: none;
        }

    }
}
