@lightGrey: rgba(226, 226, 226, 0.9);
@darkGrey : rgba(137, 137, 137, 0.9);

game {
    align-items   : center;
    display       : flex;
    flex-direction: column;
    padding-bottom: var(--gameBorder);
    position      : relative;
    transform     : scale(1.4);
    width         : calc(var(--boardSize) + 2 * var(--gameBorder));

    header {
        display        : flex;
        justify-content: flex-end;
        position       : relative;
        width          : var(--boardSize);

        h1,
        h2,
        h3 {
            text-align : center;
            font-family: 'Courier New', Courier, monospace;
            font-size  : 4vmin;
            line-height: 5vmin;
            text-shadow: 0 1px 2px var(--hotpinkTint);
            user-select: none;
            color      : crimson;
            padding    : var(--gameBorder) 0;
        }

        h1 {
            position : absolute;
            left     : 50%;
            translate: -50%;
        }

        h2 {
            position : absolute;
            top      : 2vmin;
            font-size: 6vmin;
            z-index  : -1;
            width    : var(--boardSize);
        }

        h3.moves {
            font-size  : 2vmin;
            text-shadow: none;
        }

        .dummy {
            opacity: 0;
        }

        .dummy,
        .score {
            font: inherit;
        }

        .title {
            cursor        : pointer;
            font-size     : 5vmin;
            line-height   : 5vmin;
            text-transform: uppercase;
            letter-spacing: 5px;
        }
    }
}
