body, html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height     : 100vh;
}

body {
    align-items    : center;
    display        : flex;
    justify-content: center;
    margin         : 0;
}

// Definitions
@boardSize: 50vmin; // tileCount * 10
@gameBorder: 2.5vmin;
@tileSize: 8vmin;
@tileGutterSize: 2vmin;
@tileFontSize: 3vmin;
@tileCornerRadius: 1vmin;