// Definitions

:root * {

    &,
    &:after,
    &::before {
        --goldenRatio: 0.61805;
        --boardSize  : calc(~'var(--goldenRatio) * 100vmin');
        --tileSize   : calc(~'var(--boardSize) * var(--goldenRatio) * .2');
        --gameBorder : 2.5vmin;

        --primaryColor  : navajowhite;
        --bgColor       : black;
        --hotpinkTint   : lighten(hotpink, 20%);
        --crimsonTint   : lighten(crimson, 20%);
        --purpleTint    : lighten(purple, 20%);
        --tileGutterSize: 2vmin;
    }
}

body,
html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height     : 100%;
    overflow   : hidden;
    position   : fixed;
    width      : 100%;
}

body {
    background-color: var(--bgColor);
    align-items     : center;
    display         : flex;
    justify-content : center;
    margin          : 0;
}

.shiny {
    display                   : block;
    position                  : absolute;
    width                     : 100%;
    height                    : 50%;
    border-top-right-radius   : 30px;
    border-top-left-radius    : 30px;
    border-bottom-right-radius: 100px 40px;
    border-bottom-left-radius : 100px 40px;
}

.qrCode {
    position: absolute;
    left    : var(--tileGutterSize);
    bottom  : var(--tileGutterSize);
    width   : ~'min(75px,10vmin)';
    height  : ~'min(75px,10vmin)';
}
