// Definitions
@boardSize: 50vmin; // tileCount * 10
@gameBorder: 2.5vmin;
@tileSize: 8vmin;
@tileGutterSize: 2vmin;
@tileFontSize: 3vmin;
@tileCornerRadius: 1vmin;

body, html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height     : 100vh;
    overflow   : hidden;
    position   : fixed;
    width      : 100vw;
}

body {
    align-items     : center;
    display         : flex;
    justify-content : center;
    margin          : 0;
    background-color: hsla(0,0%,90%,1);
    background-image: linear-gradient(-45deg, hsla(0,0%,0%,0), hsla(0,0%,0%,.05) );
    background-size : 5px;
}
